<%- include('../partials/header') %>

<h2>Add a New Flight</h2>
<form action="/flights" method="POST">
<!--     
  <label>Airline:
    <input type="text" name="airline">
  </label><br> -->

  <label>Airline
    <select name="airline">
 <option value="American" selected> American Airlines</option>
 <option value="Southwest"> Southwest Airlines</option>
 <option value="United">United Airlines</option>
    </select>
  </label><br>

  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>

  <label>Airport
    <select name="airport">
      <option value="DEN" selected> DEN Airport</option>
      <option value="AUS">AUS Airport</option>
      <option value="LAX">LAX-13 Airport</option>
      <option value="DFW">DFW Airport</option>
    </select>
  </label><br>


  <label>Departure date
    <input type="date" name="departs">
  </label><br>
  <!-- <label>Now Showing:
    <input type="checkbox" name="nowShowing" checked>
  </label><br> -->
  <button type="submit">Add Flight</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>