<h1>Flight Details</h1>
<table>
  <tr>
    <td>Airline:</td>
    <td><%= flight.airline %></td>
  </tr>
  <tr>
    <td>Airport:</td>
    <td><%= flight.airport %></td>
  </tr>
  <tr>
    <td>Flight Number:</td>
    <td><%= flight.flightNo %></td>
  </tr>
  <tr>
    <td>Departs:</td>
    <td><%= flight.departs %></td>
  </tr>
  
  <!-- Add more properties as needed -->
</table>